{% extends "base.html" %}

{% block content %}
<section id="products">
    <h2>Makeup Products</h2>
    <div class="product-container" id="makeup-products">
        {% for product in products %}
        <div class="product-card">
             
            <img src="{{ url_for('static', filename='images/' + product['image']) }}" alt="{{ product['name'] }}">
            <h3>{{ product['name'] }}</h3>
            <p>{{ product['price'] }}</p>
            <form action="/submit" method="POST">
                <input type="hidden" name="product_name" value="{{ product['name'] }}">
                <input type="hidden" name="price" value="{{ product['price'] }}">
                <button type="submit">Add to Cart</button>
            </form>

            
           
            
        </div>
        {% endfor %}
    </div>
</section>

{%endblock%}